
    <hr>
    <modal></modal>
<div style="height: auto;">
    <div class="Headimg">
        <div id="imgHead" data-ng-style="picName"></div>
        <hr>
    </div>
    
    <div class="container">
        <div class="detailTitle text-center">
            	{{detaillist.title}}
        </div>
        <hr>
        
        <div class="guide-container col-lg-12">
            <div class="profile">
                <img src="resources/templates/img/character.png" style="height:50px; width:70px;">
                <span class="guide-name">{{detaillist.name}}</span> <button class="btn btn-info btn-lg" type="button" data-ng-click="sendMail()">접수하기</button>
            </div>
            <div class="profile-detail col-lg-12">
                <span style="overflow:hidden; text-overflow:ellipsis; white-space: normal;  word-wrap: break-word; -webkit-line-clamp: 3;" class="detail-text">
                    {{detaillist.intro}}
                </span>
            </div>
        </div> 
    </div>
    <hr>
    
    <div class="courseList">
        <div class="container">
            <div class="container-title">
                <h1>코스 소개</h1>
            </div>
            <div class="course-list" data-ng-repeat="rows in zxc">
                <div class="course-list2">
                    <div class="course-content">
                        <div class="course-detail-title">
                            <div class="iconMap">
                                <img src="resources/images/Maps-Geo-Fence-icon.png" id="iconMap">
                            </div>
                            <div class="course-title-detail">
                                <p id="p-title">{{rows.title}}</p>
                            </div>
                            
                        </div>
                        <div class="course-detail-content">
                            <span style="overflow:hidden; text-overflow:ellipsis; white-space: normal;  word-wrap: break-word; -webkit-line-clamp: 3;">
                                {{rows.content}}
                            </span>
                        </div>
                    </div>
                    <div class="course-img">
                        <img data-ng-src="{{rows.picPath+rows.picName}}">
                    </div>
                </div>
            </div>
            
        </div>
        <div class="btn-more text-center">
        <button type="button" class="btn-default btnmore" data-ng-click="btnmore()">
            <img class=icon src="https://d2yoing0loi5gh.cloudfront.net/assets/kitty/button/ic_arrow_more@2x-58031ef3a523ee43aa15c91fcb46284b98ab157a159dfcdf810264fc3f71ac99.png" width="12px">
            <span>코스 더 보기</span>
        </button>
    </div><hr>
    </div>
</div>
    
    
    <div class="reviewList">
        <div class="container">
            <div class="container-title">
                <h1>리뷰</h1>
            </div>
            
            <div class="review-box" dir-paginate="rows in comment|itemsPerPage:4">
                <div class="review-inner-box">
                    <div class="review-inner-info">
                        <div class="review-inner-name text-center">
                            <p>{{rows.name}}</p>
                        </div>
                        <div class="review-inner-date">
                            <p>{{rows.fdata}}</p>
                        </div>
                    </div>
                    <div class="review-content">
                        <span style="overflow:hidden; text-overflow:ellipsis; white-space: normal;  word-wrap: break-word; -webkit-line-clamp: 3;">
                            {{rows.content}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
                                                   
	</div>
	<div class="container text-center">
		<dir-pagination-controls
		       max-size="100"
		       direction-links="true"
		       boundary-links="true"
		       id="paging">
		</dir-pagination-controls>
	</div>
    

    
    <div class="Reply">
        <div class="container">
            <div class="status-upload">
                <form class="reviewForm" data-ng-submit="review()">
                    <textarea placeholder="리뷰를 남겨주세요~" data-ng-model="aa"></textarea>
                    <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>등록</button>
                </form>
            </div><!-- Status Upload  -->
        </div>
    </div>
    
    <footer class="container-fluid text-center">
      <p>by 박기윤</p>
	</footer>


