<div class="container text-right" style="margin-bottom: 1%;">
  <!-- Trigger the modal with a button -->
  <a data-toggle="modal" data-target="#myModal" style="cursor: pointer;">이용안내</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content text-left">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">★YOLO 이용안내★</h4>
        </div>
        <div class="modal-body">
          <p>
          	안녕하세요. 여러분들의 좀 더 편안한 여행에 도움이 되고싶은 YOLO입니다.<br>저희 YOLO를 사용해주시는 회원님들께 먼저 감사인사를 드리겠습니다.^_^<br>
          	우선  YOLO를 이용하시는 방법을 알려드리겠습니다.<br>
          	회원님이 마음에 들어하시는 여행코스에 ＜문의하기＞를 클릭하시면 해당하는 가이드에게 메일이 발송되도록 되어있습니다.<br>
          	후에 가이드와 따로 메일 혹은 문자를 주고받으며 날짜를 정하시는 방법으로 운영이 되고 있습니다.<br>
          	이용에 차질이 없길 바라시며 항상 도움이 되는 YOLO가 되도록 노력하겠습니다.<br>
          	그럼 편안하고 즐거운 여행 되시길 바라겠습니다.'-'b
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>